* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    grid-template-columns: 1fr 1fr;
    display: grid;
    height: 50px;
    background-color: cadetblue;
    border-bottom: 4px solid black;
}

header p {
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-left: 150px;
}

header form {
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;
    background-color: red;
}

header form[select] {
}


nav {
    grid-template-columns: 2fr 1fr 1fr;
    display: grid;
}

